.simCont {
    display: grid;
    grid-template-columns: 280px 130px 170px 70px 1fr;
    grid-template-rows: auto;
    grid-template-areas:
        "contr contr contr contr contr"
        "pmem regs dmem stack mods"
        "pmem regs dmem stack mods";
}


.controls {
    grid-area: contr;
}
.pmemOuter {
    grid-area: pmem;
}
.dmemOuter {
    grid-area: dmem;
}
.regOuter {
    grid-area: regs;
}
.stackOuter {
    grid-area: stack;
}
.simModOuter {
    grid-area: mods;
}

.tHeader {
    text-align: center;
}


.tCont > div {
    border: 1px solid darkgray;
}

.tCont > div > * {
    display: inline-block;
    margin-left: 1ch;
    margin-right: 1ch;
}

.tOuter {
    display: inline-block;
    background-color: lightgray;
}

.tOuter > *:first-child {
    text-align: center;
}

.tCont {
    display: grid;
    grid-template-rows: repeat(32, 1fr);
    grid-auto-flow: column;
}

.active {
    background-color: lightcoral;
}

.pmem > div > *:nth-child(2) {
    width: 100px;
}

.pmem input[type='checkbox'] {
    cursor: pointer;
    appearance: none;
    height: 0.7em;
    width: 0.7em;
    border-radius: 50%;
    margin: auto 1ch auto 1ch;
}

.pmem input[type='checkbox']:hover {
    background-color: darkgray;
}

.pmem input[type='checkbox']:checked {
    background-color: red;
}

.pmem > .dmemempty {
    background-color: beige;
    text-align: center;
}

.stack > div {
    visibility: hidden;
}


.modOuter {
    background-color: beige;
}

.modOuter > div:first-child
{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 25px;
}

.modOuter .modSel {
    grid-column: span 3;
    display: grid;
    grid-template-columns: 1fr;
}

.modOuter .modSel > div {
    display: grid;
    grid-template-columns: 4fr 1fr 1fr;
}

.modOuter input[type='text'] {
    min-width: 0;
}

.modsCont {
    display: grid;
    grid-template-columns: repeat(auto-fit, 250px);
    grid-auto-flow: row dense;
    grid-auto-rows: 100px;
}

.modOuter {
    margin: 5px;
    grid-column: span var(--spanX);
    grid-row: span var(--spanY);
}
